body {
  background-color: #000;
  font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
  align-content: center;
  justify-content: center;
  display: flex;
}

.textthing {
  font-size: 20px;
  color: #fff;
  align-content: center;
  display: flex;
  justify-content: center;
}
